extends layout.pug
block content
    if sandboxNames
        table(style='width:50%')
            col(width='100')
            col(width='100')
            
            th First
            th Last
            each name in sandboxNames
                tr
                    if name.First
                        th= name.First
                    else
                        th NaN
                    if name.Last
                        th= name.Last
                    else
                        th NaN